<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://labproject4func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/49cf81e0-824c-4c7b-b545-ae5b80193124/resourceGroups/lab-project4/providers/Microsoft.Web/sites/labproject4func</ResourceId>
    <UserName>$labproject4func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://labproject4func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>