<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todolistproject41177.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/25e705a0-08e8-4476-9d4e-70c93d980397/resourcegroups/ToDoListProject4/providers/Microsoft.Web/sites/ToDoListProject41177</ResourceId>
    <UserName>$ToDoListProject41177</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://todolistproject41177.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>